@import "../../../shared//variables";

.album-card {
  width: 280px;
  height: 100px;
  border-radius: 10px;
  padding: 0 5vw;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-image: linear-gradient($color_blue, $color_black);
  margin: 1vh 0;

  &__img-container {
    @include flex(center, center);

    &__img {
      max-width: 150px;
      max-height: 80px;
      box-shadow: 1px 1px 10px rgba($color: $color_black, $alpha: 0.7);
    }
  }

  &__title-container {
    @include flex(space-around, start);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2vh 5vw;

    .album-card__title {
      font-size: 1.1rem;
    }

    .album-card__subtitle {
      font-size: 0.9rem;
      color: $color_grey;
    }
  }
}
