@import "../../../shared//variables";

.track-card {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  padding: 0 5vw;
  @include flex(space-between, center);
  background-image: linear-gradient($color_pink-primary, $color_black);
  flex-wrap: wrap;
  color: $color_grey;

  .track-card__title-container {
    font-size: 1.1rem;
    @include flex(start, center);
    flex-grow: 1;

    .track-card__title {
      padding: 0 2vh;
      overflow: hidden;
    }
  }

  .track-card__star {
    font-size: 0.9rem;
    color: $color_grey;
  }
}
