@import "../../../../shared//variables";

.artist-details {
  height: 40vh;
  width: 100vw;
  padding: 15vh 10vw 5vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;

  &__img {
    max-width: 120px;
    max-height: 120px;
    box-shadow: 1px 1px 10px rgba($color: $color_black, $alpha: 0.5);
  }

  &__container {
    @include flex(space-evenly, start);
    flex-direction: column;
    &--subtitle {
      font-weight: 200;
      text-transform: capitalize;
    }

    &--title {
      font-size: 2rem;
    }
  }

  &__breadcrumb {
    display: inline;
    color: $color_grey;
    padding: 5vh 0;
    &__breadcrumb-item {
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: $lg_vw) {
  .artist-details {
    padding: 15vh 30vw 5vh;
    
    &__img {
      max-width: 150px;
      max-height: 150px;
    }
  }
}