@import "../../shared/variables";

.header {
  height: 10vh;
  width: 100vw;
  position: fixed;
  z-index: 200;
  padding: 0 10vw;
  @include flex(space-between, center);

  &__logo {
    height: 5vh;
    width: auto;
  }

  .searchBar {
    display: none;
  }
}

@media only screen and (min-width: $sm_vw) {
  .header {
    .search-burger {
      display: none;
    }
    .searchBar {
      display: flex;
      max-width: 30vw;
      background-position: 1vw;
      padding: 0 5vw 0 5vw;
    }
  }
}
